{% extends "main/base.html" %}

{% block title %}
Cabinet
{% endblock %}

{% block content%}
<main class="main">
  <div class="main__header">
    <button class="btn btn--primary">Add Medicine</button>
  </div>
  <hr class="separator" />

  <div class="frame-row">
    {% for med in medicines %}
    <div class="medicine-card">
      <img src="{{ med.image.url }}" alt="{{ med.name }}" class="medicine-card__image">
      <div class="medicine-card__name"><a href="{% url 'medicine_details' med.pk %}">{{ med.name }}</a></div>
      <div class="medicine-card__info">
        <span class="medicine-card__label">Exp:</span>
        <span class="medicine-card__value">{{ med.expiration|date:"d.m.Y" }}</span>
      </div>
      <div class="medicine-card__info">
        <span class="medicine-card__label">Qty:</span>
        <span class="medicine-card__value">{{ med.quantity }}</span>
      </div>

    </div>
    {% empty %}
    <p>Немає ліків у кабінеті.</p>
    {% endfor %}
</main>
{% endblock %}