{% load static %}
<!DOCTYPE html>

<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
    {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/medicine_detail.css' %}">
</head>
<body>
<div class="site-cabinet">

    <header class="top-bar">
        <a href="javascript:history.go(-1)">back</a>
        <h1 class="top-bar__title">Hyelth</h1>
        <a href="{% url 'user_logout' %}">Logout</a>
    </header>

    {% block content %}
        <div class="medicine">
            <div class="left-side">
                <div class="medicine-name">
                    <h1>{{ medicine.name }}</h1>
                </div>
                <div class="medicine-image">
                    <img src="{{ medicine.image.url }}" alt="{{ med.name }}" class="medicine-card__image">
                </div>
            </div>
            <div class="right-side">

                <div class="form">
                    <form method="POST">
                        {% csrf_token %}
                        <label for="date">Термін придатності: </label>
                        <input type="text" name="date">
                        <label for="number">Кількість: </label>
                        <input type="number" name="quantity">
                        <button type="submit">Додати ліки</button>
                    </form>
                </div>
                <div class="medicine-info">

                    <p>Детальна інформація: {{ medicine.description }}</p>
                    <div class="exp-and-quan">
                        <p>Термін придатності: {{ medicine.expiration }}</p>
                        <p>Кількість: {{ medicine.quantity }}</p>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}


</body>
</html>


