{% extends "main/base_detail.html" %}

{% block title %}
    Prescriptions
{% endblock %}

{% block content %}
    <div class="medicine">
        <div class="left-side">
            <div class="prescription">
                <h1>№{{ pr.number }}</h1>
                <h1>Doctor: {{ pr.prescribedBy }}</h1>
            </div>
            <div class="description">
                <p>{{ pr.doctorsNote }}</p>
            </div>
        </div>
        <div class="right-side">

        </div>
        <div class="right-side-pr">
            {{med}}
            {% for med in meds %}
            <div class="medicine-card">
                <img src="{{ med.image.url }}" alt="{{ med.name }}" class="medicine-card__image">
                <div class="medicine-card__name"><a href="{% url 'medicine_details' med.id %}">{{ med.name }}</a></div>
                <div class="medicine-card__info">
                    <span class="medicine-card__label">Exp:</span>
                    <span class="medicine-card__value">{{ med.medicine.expiration|date:"d.m.Y" }}</span>
                </div>
                <div class="medicine-card__info">
                    <span class="medicine-card__label">Qty:</span>
                    <span class="medicine-card__value">{{ med.quantity }}</span>
                </div>
            </div>
            {% empty %}
            <p>Немає ліків у рецепті.</p>
            {% endfor %}
        </div>

{% endblock %}